@font-face {
    font-family: 'helvetica_neue';
    src: url('../fonts/HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(61, 14, 14, 0.6);
    width: 100%;
    min-height: 60px;
    color: #ffffff;
    position: fixed;
    padding-left: 6.5%;
    z-index: 10;
/*
    border-style: solid; 
    border-color: #ffffff;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
*/
}

.logo {

    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20pt;
    width:250px;

}

.logo-stop {
    color: yellow;
    font-size: 30pt;
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
}

.showcase {
}

.showcase_img {
    background-image: url("../images/clint-adair-68588.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    filter: brightness(30%);
    -webkit-filter: brightness(30%); /* Safari 6.0 - 9.0 */
}


.showcase_grid {
    display: grid;
/*    border: 3px solid red;*/
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template: 1fr 20% 80px 3fr / 1fr 1fr 1fr;
    grid-row-gap: 2px;
    top: 45%;
    left: 22.5%;
    width: 57%;
    height: 50%;
    z-index: 9;
    position: absolute;
    justify-items: center;
    align-items: center;
    
/*
    Absolute positioning values!
    top: 300px;
    left: 460px;
    grid-gap: 5px;
    z-index: 9;
    position: absolute;
}
*/
}

.headline {
/*    border: 3px solid red;*/
    
    grid-area: 1 / 1 / span 1 / span 3;
/*
    border-bottom: solid;
    border-width: 3px;
    border-color: blue;
*/
    padding-top: 13px;
    
}

.headline h1 {
    
/*    font-family: 'Encode Sans Expanded', sans-serif;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-family: 'tecnicofino', sans-serif;*/
    font-family: 'helvetica_neue', sans-serif;
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 8px;
    
}

.headline h1 span {
    color: yellow;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.headline, .block {
/*    background-color: rgba(38, 38, 38, 0.5);*/
}

.block {
   
/*    border: 3px solid green;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
/*    border: 3px solid red;*/
    height: 100%;
    
}

.block a {
    color: white;
    text-decoration: none;
    font-family: 'helvetica_neue', sans-serif;
}

.block a:hover {
    color: yellow;
}

.one {
      grid-area: 3 / 1 / span 1 / span 1;

    
}

.two {
    grid-area: 3 / 2 / span 1 / span 1;  
}

.three {
    grid-area: 3 / 3 / span 1 / span 1;  
}

.four {
    grid-area: 4 / 1 / span 1 / span 1;  
}

.five {
    grid-area: 4 / 2 / span 1 / span 1;  
}

.six {
    grid-area: 4 / 3 / span 1 / span 1;  
}

.block img {
    width: 70px;
    height: 70px;
/*    margin-left: 45%;*/
    
}

.about_us {
    background-color: #3d0e0e;
}


.about_us_content {
    margin: 0 auto;
    padding-top: 20px;
    width: 70%;
    font-family: 'helvetica_neue', sans-serif;
    color: #ffffff;
    text-align: center;
}

.about_us_content * {
    padding: 20px 0;
}

.about_us_content h1 {
    font-family: 'helvetica_neue', sans-serif;
    font-size: 50px;

}

.about_us_content p.medium {
    font-size: 35px;
    line-height: 1.3em;
}


.about_us_content p.small {
    font-size: 23px;
}

.about_us_content a {
    color: #ffffff;
}

.about_us_content a:hover {
    color: yellow;
}


.container {
    margin: 100px auto;
    width: 75%;
    height: 500px;
    color: #444444;
/*    font-family: 'Montserrat', sans-serif;*/
}

.container h2 {
    text-align: center;
}

.container p {
    font-size: 14px;
    line-height: 1.4em;
}

.container a {
    color: #444444;
}

.container img {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.container img.left {
    float: left;
}

.container-content {
    background-color: #ffffff;
    height: 100%;
    padding: 30px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
/*
    border-style: solid;
    border-width: 3px;
    border-color: #3d0e0e;
    border-top: none;
    border-left: none;
    border-right: none;
*/
}


.padding-wrapper-right, .padding-wrapper-left {
    height: 100%;
    padding: 10px;
}

.padding-wrapper-right {
    margin-left: 50%;
}

.padding-wrapper-left {
    margin-right: 50%;
}

.container img.right {
    float: right;
}

.container-content h2 {
    text-align: center;
    font-size: 35px;
}

.footer {
    background-color: #3d0e0e;
    height: 50px;
    padding-top: 10px;
}

.footer p {
    text-align: center;
    color: #eeeeee;
    font-size: 11px;
}